{% import "bootstrap/wtf.html" as wtf %}

<div class="row">
    <div class="col-md-12">
        <h5>Dues <button type="button" class="btn btn-sm" onclick="removeSub(this)"><i class="glyphicon glyphicon-trash"></i> Remove</button></h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ wtf.form_field(subform.member_name) }}
        {{ subform.guid }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ wtf.form_field(subform.amount) }}
    </div>
    <div class="col-md-4">
        {{ wtf.form_field(subform.paid_from) }}
    </div>
    <div class="col-md-4">
        {{ wtf.form_field(subform.paid_through) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ wtf.form_field(subform.comment, rows=2) }}
    </div>
</div> 