{% import "bootstrap/wtf.html" as wtf %}

<div class="row">
    <div class="col-md-4">
        {{ wtf.form_field(subform.category) }}
        {{ subform.guid }}
    </div>
    <div class="col-md-4">
        {{ wtf.form_field(subform.amount) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ wtf.form_field(subform.comment, rows=2) }}
    </div>
</div> 
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <button type="button" class="btn btn-link btn-block" onclick="removeSub(this)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    </div>
</div>