<div class="row">
    <div class="col-md-4 mb-3">
        {{ form.category.label(class="form-label") }}
        {{ form.category(class="form-select") }}
        {{ form.guid }}
    </div>
    <div class="col-md-4 mb-3">
        {{ form.amount.label(class="form-label") }}
        {{ form.amount(class="form-control") }}
    </div>
</div>
<div class="mb-3">
    {{ form.comment.label(class="form-label") }}
    {{ form.comment(class="form-control", rows=2) }}
</div>
<button type="button" class="btn btn-sm btn-danger" onclick="removeSub(this)">Remove</button> 