{% import "bootstrap/wtf.html" as wtf %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Prosphora <button type="button" class="btn btn-sm btn-danger" onclick="removeSub(this)">Remove</button></h5>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ wtf.form_field(subform.last_name) }}
        {{ subform.guid }}
    </div>
    <div class="col-md-6 mb-3">
        {{ wtf.form_field(subform.first_name) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        {{ wtf.form_field(subform.paid_from) }}
    </div>
    <div class="col-md-4 mb-3">
        {{ wtf.form_field(subform.paid_through) }}
    </div>
    <div class="col-md-4 mb-3">
        {{ wtf.form_field(subform.amount) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {{ wtf.form_field(subform.quantity) }}
    </div>
    <div class="col-md-6 mb-3">
        <div class="form-check mt-4">
            {{ wtf.form_field(subform.with_twelve_feasts) }}
        </div>
    </div>
</div>
<div class="mb-3">
    {{ wtf.form_field(subform.comment, rows=2) }} 