{% import "bootstrap/wtf.html" as wtf %}

<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="display: flex; align-items: center;">
            <label class="control-label" style="margin-right: 10px; margin-bottom: 0; white-space: nowrap;">Prosphora for</label>
            <div style="flex: 1;">{{ subform.member_name }}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ subform.guid }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ wtf.form_field(subform.amount) }}
    </div>
    <div class="col-md-4">
        {{ wtf.form_field(subform.paid_from) }}
    </div>
    <div class="col-md-4">
        {{ wtf.form_field(subform.paid_through) }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ wtf.form_field(subform.quantity) }}
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">&nbsp;</label>
            <div class="checkbox" style="margin-top: 0;">
                {{ wtf.form_field(subform.with_twelve_feasts) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ wtf.form_field(subform.comment, rows=2) }}
    </div>
</div> 
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <button type="button" class="btn btn-link btn-block" onclick="removeSub(this)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    </div>
</div>