{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
{% block page_header %}
    <div class="page-header">
        <h3>Single Payment for {{ member}}</h3>
    </div>
{% endblock %}
    
{% block form_begin %}
<form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    <div class="row">
        <div class="col-md-7">
{% endblock %}
{% block rows %}
            {{ wtf.form_field(form.payor) }}
            {{ wtf.form_field(form.date) }}
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.form_field(form.method) }}
                </div>
                <div class="col-md-4">
                    {{ wtf.form_field(form.identifier) }}
                </div>
                <div class="col-md-4">
                    {{ wtf.form_field(form.amount) }}
                </div>
            </div>
{% endblock %}
{% block form_end %}
            {{ wtf.form_field(form.comment) }}
            {{ wtf.form_field(form.submit_btn) }}
        </div>
    </div>
</form>
{% endblock %}
{% endblock %}
