{% extends "directory.html" %}

{% block page_content %}
    <div class="page-header">
        <h2>Commemoration Books Directory<h2>
    </div>
    
    <div class="row">
        <div class="col-md-10">
            {% include "search_form.html" %}
        </div>
        <div class="col-md-2 text-right">
            <a href="#" class="btn btn-sm btn-default print-commemoration-list" title="Print Commemoration List">
                <span class="glyphicon glyphicon-print"></span>Print Commemoration List
            </a>
        </div>
    </div>

    {{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    
    // Handle print commemoration list button clicks
    $('.print-commemoration-list').on('click', function(e) {
        e.preventDefault();
        
        // Make AJAX request to get PDF data
        loadPdfFromUrl(`/report/prosphora/print_ajax`);
    });
});
</script>
{% endblock %} 