{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<div class="alert alert-info">
    <p><strong>Heads up!</strong> We found existing records on applicant(s).
    Please review and decide if update is required.</p>
</div>

<form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {% for decision in form.decisions %}
    {% set applicant, person, db_person = applicants[loop.index0] %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ applicant.en_name_last }} {{ applicant.en_name_first }}</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Application</th>
                        <th>Our Records</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>First Name</th>
                        <td>{{ person.first }}</td>
                        <td>{{ db_person.first }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ person.last }}</td>
                        <td>{{ db_person.last }}</td>
                    </tr>
                    <tr>
                        <th>e-mail</th>
                        <td>{{ person.email }}</td>
                        <td>{{ db_person.email }}</td>
                    </tr>
                </tbody>
            </table>
            <p><strong>Please decide how to proceed:</strong></p>
            {{ wtf.form_field(decision.update_decision) }}
        </div>
    </div>
    {% endfor %}

    <div class="form-inline">
        <div class="form-group">
            {{ form.register(class="btn btn-primary") }}
        </div>
    </div>

</form>

{% endblock %}
