{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
    <h3>Register New Parish Member(s)<h3>
</div>

{% for field, errors in form.errors.items() %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ ', '.join(errors) }}
</div>
{% endfor %}

{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ category }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {% for applicant in form.applicants %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ applicant.en_name_last.data }}, {{applicant.en_name_first.data }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.form_field(applicant.ru_name_last) }}
                        {{ wtf.form_field(applicant.en_name_last) }}
                        {{ wtf.form_field(applicant.dues_amount) }}
                        {{ wtf.form_field(applicant.do_register) }}
                    </div>
                    <div class="col-md-4">
                        {{ wtf.form_field(applicant.ru_name_first) }}
                        {{ wtf.form_field(applicant.en_name_first) }}
                    </div>
                    <div class="col-md-4">
                        {{ wtf.form_field(applicant.ru_name_patronymic) }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.form_field(form.as_of_date) }}
                    {{ wtf.form_field(form.register, class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </div>
    
</form>

{% endblock %}
